TextureDemo/.vs/
TextureDemo/.vs/TextureDemo/v15/.suo
TextureDemo/Debug/TextureDemo.exe
TextureDemo/.vs/TextureDemo/v15/.suo
TextureDemo/.vs/TextureDemo/v15/ipch/AutoPCH/b28dfb662dca6074/PLAYERGAMEOBJECT.ipch
